<div id="workout-form-container" class="workout-form-container">
    <form id="workoutForm" [formGroup]="workoutFormGroup" class="workout-form">
        <div id="workoutFormHeader" class="workout-form-header">
            <ng-container *ngIf="pastWorkouts$ | async as pastWorkouts">
                <app-styled-calendar
                    [dateFormControl]="workoutFormGroup.controls.date"
                    [pastWorkouts]="pastWorkouts"
                    [idSuffix]="'-add'"
                ></app-styled-calendar>
            </ng-container>

            <span class="p-float-label">
                <p-dropdown
                    [editable]="true"
                    formControlName="type"
                    id="type"
                    inputId="type"
                    [options]="workoutTypeOptions"
                    placeholder="Select a Workout Type"
                    [required]="true"
                />
                <label for="type">Select a Workout Type</label>
            </span>
        </div>

        <div *ngIf="type.valueChanges | async as workoutType" formArrayName="exercises" class="exercise-container">
            <ng-container *ngFor="let exerciseFormGroup of exercises.controls; let i = index">
                <div id="{{ 'exercise_' + i }}" class="exercise-form">
                    <app-add-exercise-form
                        [ngClass]="!showUpdateIcon ? 'p-6 pr-0' : 'p-6'"
                        [exerciseFormGroup]="exerciseFormGroup"
                        [selectedWorkoutType]="workoutType"
                    ></app-add-exercise-form>

                    <p-button
                        icon="pi pi-minus"
                        *ngIf="!showUpdateIcon"
                        [text]="true"
                        [plain]="true"
                        (onClick)="deleteExercise(i)"
                    ></p-button>
                </div>
            </ng-container>

            <div class="exercise-add-btn">
                <p-button
                    *ngIf="!showUpdateIcon"
                    icon="pi pi-plus"
                    [outlined]="true"
                    [raised]="true"
                    [rounded]="true"
                    (onClick)="addExercise()"
                ></p-button>
            </div>
        </div>
    </form>
</div>

<p-toast></p-toast>

<div class="sticky-bar" *ngIf="mode$ | async as mode">
    <div class="sticky-bar-end">
        <p-button
            *ngIf="type"
            [disabled]="mode === Mode.ADD && (type.invalid || selectedWorkout$.value !== null)"
            [outlined]="true"
            [raised]="true"
            (onClick)="cancelUpdatedWorkout(mode)"
            label="Cancel"
        ></p-button>

        <p-button
            *ngIf="!selectedWorkout$.getValue(); else editButton"
            (onClick)="saveNewWorkout()"
            [disabled]="workoutFormGroup.invalid || exercises.length < 1"
            [raised]="true"
            label="Add"
        ></p-button>
        <ng-template #editButton>
            <p-button
                *ngIf="this.selectedWorkout$.getValue() && mode === Mode.ADD"
                [raised]="true"
                (onClick)="enterUpdateMode()"
                [disabled]="!showUpdateIcon"
                label="Edit"
            ></p-button>
        </ng-template>

        <p-button
            *ngIf="mode === Mode.UPDATE"
            [disabled]="workoutFormGroup.invalid || exercises.length < 1"
            [raised]="true"
            (onClick)="saveUpdatedWorkout()"
            label="Update"
        ></p-button>
    </div>
</div>
