<form *ngIf="pastWorkouts$ | async as pastWorkouts" id="workoutForm" [formGroup]="workoutFormGroup" class="form">
    <app-styled-calendar
        [dateFormControl]="workoutFormGroup.controls.date"
        [pastWorkouts]="pastWorkouts"
        [idSuffix]="'-add'"
    ></app-styled-calendar>

    <span class="p-float-label">
        <p-dropdown
            [editable]="true"
            formControlName="type"
            id="type"
            inputId="type"
            [options]="workoutTypeOptions"
            placeholder="Select a Workout Type"
            [required]="true"
        />
        <label for="type">Workout Type</label>
    </span>

    <div
        *ngIf="type.valueChanges | async as workoutType"
        formArrayName="exercises"
        class="flex flex-column gap-2 justify-content-center"
    >
        <ng-container *ngFor="let exerciseFormGroup of exercises.controls; let i = index">
            <div id="{{ 'exercise_' + i }}" class="exercise-form">
                <app-add-exercise-form
                    [ngClass]="!showUpdateIcon ? 'p-6 pr-0' : 'p-6'"
                    [exerciseFormGroup]="exerciseFormGroup"
                    [selectedWorkoutType]="workoutType"
                ></app-add-exercise-form>

                <p-button
                    icon="pi pi-minus"
                    *ngIf="!showUpdateIcon"
                    [text]="true"
                    [plain]="true"
                    (onClick)="deleteExercise(i)"
                ></p-button>
            </div>
        </ng-container>
        <div class="flex justify-content-center">
            <p-button
                *ngIf="!showUpdateIcon"
                icon="pi pi-plus"
                [outlined]="true"
                [raised]="true"
                [rounded]="true"
                (onClick)="addExercise()"
            ></p-button>

            <p-button
                *ngIf="this.selectedWorkout$.getValue() && showUpdateIcon"
                icon="pi pi-pencil"
                [outlined]="true"
                [raised]="true"
                [rounded]="true"
                (onClick)="enterUpdateMode()"
            ></p-button>

            <p-button
                *ngIf="mode === Mode.UPDATE"
                icon="pi pi-times"
                [outlined]="true"
                [rounded]="true"
                [raised]="true"
                (onClick)="cancelUpdatedWorkout()"
            ></p-button>
        </div>
    </div>
</form>

<p-toast></p-toast>

<p-scrollTop></p-scrollTop>

<p-button
    *ngIf="!selectedWorkout$.getValue()"
    (onClick)="saveNewWorkout()"
    [disabled]="workoutFormGroup.invalid || exercises.length < 1"
    [raised]="true"
    [rounded]="true"
    label="Submit"
></p-button>

<p-button
    *ngIf="mode === Mode.UPDATE"
    [disabled]="workoutFormGroup.invalid || exercises.length < 1"
    [raised]="true"
    [rounded]="true"
    (onClick)="saveUpdatedWorkout()"
    label="Update"
></p-button>
