<p-toolbar>
    <ng-template pTemplate="start">
        <span>Fitness Tracker</span>
    </ng-template>
    <ng-template pTemplate="center">
        <div class="toolbar-center">
            <a [routerLink]="['/home']" pButton pTooltip="Home" tooltipPosition="bottom">
                <i class="pi pi-home"></i>
            </a>
            <a [routerLink]="['/workout']" pButton pTooltip="Add Workout" tooltipPosition="bottom">
                <i class="pi pi-pencil"></i>
            </a>
            <a [routerLink]="['/workout-history']" pButton pTooltip="Workout History" tooltipPosition="bottom">
                <i class="pi pi-book"></i>
            </a>
            <a [routerLink]="['/personal-records']" pButton pTooltip="Personal Records" tooltipPosition="bottom">
                <i class="pi pi-sort-numeric-up-alt"></i>
            </a>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="toolbar-end">
            <p-button [rounded]="true" [text]="true" icon="pi pi-cog"></p-button>
            <p-button [rounded]="true" [text]="true" icon="pi pi-user"></p-button>
        </div>
    </ng-template>
</p-toolbar>

<router-outlet></router-outlet>
