<form [formGroup]="addWorkoutFormGroup" class="form">
    <span class="p-float-label">
        <p-calendar
            dateFormat="D m/d/y"
            formControlName="date"
            [iconDisplay]="'input'"
            id="workout-date"
            inputId="workout-date"
            [ngClass]="{ 'ng-invalid ng-dirty': addWorkoutFormGroup.controls.date.invalid && isSaveClicked }"
            [readonlyInput]="true"
            [required]="true"
            [showIcon]="true"
        ></p-calendar>
        <label for="workout-date">Workout date</label>
    </span>

    <span class="p-float-label">
        <p-dropdown
            [editable]="true"
            formControlName="type"
            id="type"
            inputId="type"
            [ngClass]="{ 'ng-invalid ng-dirty': addWorkoutFormGroup.controls.type.invalid && isSaveClicked }"
            [options]="workoutTypeOptions"
            placeholder="Select a Workout Type"
            [required]="true"
        />
        <label for="type">Workout Type</label>
    </span>

    <!--    TODO: FormArrayName for parent form group and FormControlName for CVA?-->
    <ng-container
        formArrayName="exercises"
        *ngIf="addWorkoutFormGroup.controls.type.valueChanges | async as workoutType"
    >
        <ng-container *ngFor="let exerciseForm of addWorkoutFormGroup.controls.exercises.controls; let i = index">
            <div id="{{ 'exercise_' + i }}" class="exercise-form">
                <app-add-exercise-form
                    [formControl]="exerciseForm"
                    [isSaveClicked]="isSaveClicked"
                    [selectedWorkoutType]="workoutType"
                ></app-add-exercise-form>

                <p-button icon="pi pi-times" (onClick)="deleteExercise(i)"></p-button>
            </div>
        </ng-container>
        <p-button (onClick)="addExercise()">Add Exercise</p-button>
    </ng-container>
</form>

<p-button (onClick)="saveWorkout()">Save</p-button>
